.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;

    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .container {
        margin: 24px auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        .data-container {
            flex: 1;
            min-width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 8px;
            padding: 8px;

            box-shadow:
                5px 5px 10px #e6e6e6,
                -5px -5px 10px #ffffff;


            &__title {
                text-align: center;
            }

            &__data {
                display: flex;
                justify-content: space-between;

                border-bottom: 1px solid grey;

                &:last-child {
                    border-bottom: none;
                }

                &__suffix {
                    margin-left: 2px;
                }
            }
        }

        .data {
            border-radius: 10px;
            background: #ffffff;
            box-shadow: 5px 5px 10px #d6d6d6, -5px -5px 10px #ffffff;

            color: black;
            margin: 8px;
            flex: 1;
            min-width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: transparent;

            transition: background-color cubic-bezier(0, 0.78, 1, 0.85) 0.8s;

            &.increase {
                background-color: green;
                color: white;
            }

            &.decrease {
                background-color: red;
                color: white;
            }

            .title {
                margin: 0;
            }

            .value {
                &__postfix {
                    margin-left: 2px;
                    color: rgb(132, 129, 129);
                    font-style: italic;
                }
            }
        }
    }
}